<div id="events">
<% @events.each do |event| %>
<%= render partial: "profiles/fights", locals: {event: event, user: @user, fights: sort_fights(event.user_predicted_fights(@user)), user_event_budget: event.get_user_budget(@user)}%>
<% end %>
<% if @events.blank? %>
  <h1 class="no-events">Prediction History is Empty</h1>
<% else %>
  <%== pagy_nav(@pagy) %>
<% end %>
</div>