<ul class="navbar">
  <li class="navbar"><%= link_to 'Home', root_path %></li>
  <% if is_admin_or_mod? %>
  <li class="navbar"><%= link_to 'Add Event', new_event_path %></li>
  <% end %>
  <li class="navbar"><%=current_user.email%></li>
  <li class="navbar"><%= link_to "Sign Out", destroy_user_session_path, 'data-turbo-method': :delete %></li>
</ul> 