<%= stylesheet_link_tag params[:controller] %>

<h1>Home</h1>

<% if current_user %>
  <% @events.each do |event| %>
    <div class="events">
      <%= link_to "#{event.name}: #{event.red.upcase} vs #{event.blue.upcase}", event_path(event.id)%>
    </div>
  <% end %>

<% else %>
    <p>You are not signed in.</p>
    <%= link_to "Sign Up!", new_user_registration_path %>
    <br>
    <%= link_to "Login", new_user_session_path %>

<% end %>
