<h1>Add Event</h1>

<%= form_with model: @event, url: "/add_event", method: :post do |form| %>
  <%= form.text_area :name, size: "35x1" %>
  <br><br>
  <%= form.date_field :date %>
  <br><br>
  <%= form.submit "Add Event" %>
<% end %>