.events {
  font-size: 24px;
}

#title {
  font-family: Helvetica, sans-serif;
  color: whitesmoke;
  text-align: center;
}

#title h1 {
  font-size: 60px;
  font-weight: 700;
}

#title h2 {
  font-size: 40px;
}

#title h3 {
  font-size: 25px;
}

#card {
  display: flex;
  justify-content: center;
  margin: 3%;
}

#card form {
  height: 100px;
  width: 220px;
}

#card button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  padding: 35px 24px;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  color: black
}

#card button:disabled {
  background-color: rgb(221, 200, 114);
}

.predictions {
  display: flex;
  justify-content: space-around;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: whitesmoke;
  margin-bottom: 3%;
}

.prediction {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 350px;
  margin-bottom: 3%
}

.option {
  position: relative;
  width: 100%;
  display: flex;
  border:3px solid rgb(0, 0, 0);
  background-color: rgb(201, 202, 206);
  cursor: url(asset-path('fist.svg')), auto;
}
.option:hover {
  background-color: rgb(68, 132, 221);
}

.disabled .option {
  background-color: rgb(123, 122, 122);
  pointer-events: none;
  cursor: not-allowed;
}

.disabled .prediction {
  cursor: not-allowed;
}

.unavailable {
  background-color: rgb(255, 232, 207);
  pointer-events: none;
}

.predictions .prediction .selected {
  background-color: rgb(68, 132, 221);
  border-style: solid;
  border: 4px solid;
}

span {
  width: 50%;
  display: inline-block;
  font-family: sans-serif, Arial;
  font-weight: 300;
  font-size: 48px;
  text-align: center;
  overflow: hidden;
  padding: 25px 20px;
  border: .5px dotted #444;
  pointer-events: none;
}

.wager {
  position: absolute;
  background-color: rgb(175, 186, 200);
  right: 0;
  top: 0;
  /* z-index: 1; */
  font-size: 18px;
  padding: 4px;
  border-radius: 3px;
  cursor: crosshair;
}

.hidden-wager {
  display: none;
}

#fight-tools {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 25%;
  width: 100%;
}

#fight-tools button {
  width: 100%;
  height: 100%;
  font-size: 35px;
  background-color: rgb(178, 176, 176);
  cursor: pointer;
}

#event-ui {
  color: whitesmoke;
  font-size: 28px;
  text-align: center;
  line-height: 2.2;
}

#event-ui h1 {
  display: inline-block;
  text-align: center;
  height: 100px;
  width: 15%
}

#event-ui textarea {
  font-size: 25px;
  border:rgb(220, 180, 99) solid 4px;
  border-radius: 5px;
  resize: none;
}

input[type="date"] {
  font-size: 25px;
  border:rgb(220, 180, 99) solid 4px;
  border-radius: 5px;
}

input[type="time"] {
  font-size: 25px;
  border:rgb(220, 180, 99) solid 4px;
  border-radius: 5px;
}

input[type="radio"] {
  height: 30px;
  width: 30px;
  accent-color: orange;
}

input[type="submit"] {
  font-size: 28px;
  font-weight: 700;
  border:rgb(220, 180, 99) solid 4px;
  border-radius: 8px;
  padding: 10px;
  background-color: whitesmoke;
  color: black;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(220, 180, 99);
} 

#back {
  font-size: 28px;
  font-weight: 700;
  border:rgb(220, 180, 99) solid 4px;
  border-radius: 8px;
  padding: 10px;
  margin-top: 5%;
  background-color: whitesmoke;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#back:hover {
  background-color: rgb(220, 180, 99);
}

