#event-ui {
    color: whitesmoke;
    font-size: 28px;
    text-align: center;
    line-height: 2.2;
  }
  
  #event-ui h1 {
    display: inline-block;
    text-align: center;
    height: 100px;
    width: 15%
  }
  
  #event-ui textarea {
    font-size: 25px;
    border:rgb(220, 180, 99) solid 4px;
    border-radius: 5px;
    resize: none;
  }

  #event-ui .fighter {
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
    border-radius: 6px;
  }

  select {
    font-size: 32px;
    border:rgb(220, 180, 99) solid 4px;
  }
  
  input[type="submit"] {
    font-size: 28px;
    font-weight: 700;
    border:rgb(220, 180, 99) solid 4px;
    border-radius: 8px;
    padding: 10px;
    margin-top: 5%;
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: rgb(220, 180, 99);
  }

  #back {
    font-size: 28px;
    font-weight: 700;
    border:rgb(220, 180, 99) solid 4px;
    border-radius: 8px;
    padding: 10px;
    margin-top: 5%;
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #back:hover {
    background-color: rgb(220, 180, 99);
  }



  