  #profile-events {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  div#profile-search {
    display: flex;
    position: absolute;
    color: white;
    top: 0;
    right: 0;
    margin-right: 7px;
    margin-top: 5px;
  }

  form#profile-search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 7px;
    margin-top: 5px;
    color: whitesmoke;
  }

  form#profile-search label {
    font-size: 26px;
  }

  form#profile-search input[type="text"] {
    width: 180px;
    border-radius: 6px;
    font-size: 20px;
  }

  form#profile-search input[type="submit"] {
    border-radius: 6px;
    font-size: 20px;
  }

  form#profile-search button {
    height: 25px;
    width: 38px;
    cursor: pointer;
  }

  form#profile-search svg {
    height: 20px;
    width: 25px;
  }

  .profile-event {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 8px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    background-color: rgb(100, 126, 154);
    color: rgb(245, 245, 245);
  }

  .predictions-table  {
    width: 100%;
    border: 1px solid whitesmoke;
    border-bottom: none;
    text-align : center;
  }

  .predictions-table caption{
    background-color: rgb(104, 103, 103);
  }

  .predictions-table a {
    font-size: 45px;
    color: whitesmoke;
    letter-spacing: .2em;
    text-decoration: none;
  }
  
  .predictions-table th {
    font-size: 36px;
    letter-spacing: .1em;
    border-right: .5px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
  }

  .predictions-table th:last-child {
    border-right: none;
  }

  .predictions-table td {
    font-size: 28px;
    letter-spacing: .1em;
    border-right: .5px solid whitesmoke;
    border-bottom: .5px solid whitesmoke;
  }

  .predictions-table td:last-child {
    border-right: none;
  }

  .currency {
    text-decoration: underline;
  }

  .summary {
    display: flex;
    background-color: rgb(12, 12, 12);
    font-weight: 500;
  }

  .summary.winning {
    background-color: rgb(76, 154, 76)
  }

  .summary.losing {
    background-color: rgb(199, 86, 86);
  }

  .summary.neutral {
    background-color: rgb(167, 177, 100);
  }

  .net-change-container {
    width: 66%;
    border-right: 2px solid whitesmoke;
  }

  .net-change {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 75%;
    margin:auto;
    font-size: 26px;
    letter-spacing: .1em;
  }

  .percent-change-container {
    width: 33%;
  }

  .percent-change {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    letter-spacing: .1em;
  }

  div#account {
    text-align: center;
    margin: 3% 0;
  }

  a.account-link {
    font-size: 38px;
    border: 2px solid whitesmoke;
    border-radius: 6px;
    padding: 10px;
    color: whitesmoke;
    text-decoration: none;
  }
  
  a.account-link:hover {
    background-color: rgb(70, 88, 107);
  }

  #user h2 {
    color: whitesmoke;
    text-align: center;
    font-size: 40px;
  }
  
  .no-events {
    text-align: center;
    font-size: 36px;
    color: whitesmoke
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination span {
    display: block;
    font-size: 30px;
    color: rgb(255, 255, 255);
    border: 1px solid white;
    border-radius: 4px;
    text-decoration: none;
  }
  
  .pagination span.active {
    background-color: rgb(73, 104, 130);
    padding: 8px 16px;
  }
  
  .pagination .disabled {
    padding: 8px 16px;
  }
  
  .pagination span:hover:not(.disabled) {
    background-color: rgb(73, 104, 130);
  }
  
  .pagination a {
    display: block;
    padding: 8px 16px;
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  .pagination .disabled {
    color: rgb(126, 126, 126);
  }

