h2 {
    text-align: center;
    text-decoration: underline;
    color:whitesmoke;
    font-size: 42px;
    font-weight: 750;
}

form {
    width: 50%;
    font-size: 24px;
    margin: 5% auto;
    text-align: center;
    line-height: 1.4em;
    border: 2px solid white;
    border-radius: 8px;
    color: whitesmoke;
}

input {
    font-size: 20px;
}