<head>
<style>
html, body {
    height: 100%;
}

body {
    background-color: rgb(19, 26, 44);
    color: whitesmoke;
    text-align: center;
}

div#message {
    margin: auto;
    position: relative;
    top: 10%;
    width: 80%; 
}
h1 {
    font-size: 5em;
}
</style>
</head>
<body>
<div id="message">
<h1>UFC Bet Simulator</h1>
<%= image_tag("fist-logo.svg")  %>
<h1>Please View on Desktop.</h1>
<h1>Thanks!</h1>
</div>
</body>